body{
    background-color: rgb(71, 59, 59);
    margin: 0;
    padding: 0;
 }
header{
    position: relative;
    background-color: black;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff; 
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px; /* The thickness of the border */
    background-color: rgb(223, 223, 223); /* The color of the border */
  }
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    justify-content: flex-end;
    font-family: sans-serif;
}

nav ul li a:hover {
    color: #02c2f7;
    text-decoration: underline;
}